
.serveyForm{
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
} 

.serveyForm .custom-form-item {
    background-color: #eeeded;
    border: 1px solid #e4dede;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    height: 115px;
}

.serveyForm .custom-form-item label {
    margin-bottom: 5px;
    margin-top: 2px;
}
  
.serveyForm .custom-form-item .custom-form-input {
    border: none;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    width: 98%;
} 

.serveyForm .ant-select-selector {
    height: 40px !important;
}